* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-color: #8e8e8e #fff;
  scrollbar-width: thin;
}

:root {
  --text-color: #2d2e32;
}

body {
  min-width: 100dvw;
  min-height: 100dvh;
}
