.wrapper {
  min-height: 300px;
  padding: 24px 40px 24px 50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 870px;

    h3 {
      padding: 16px 0;
    }

    .content {
      padding: 20px 0;
      display: flex;
      gap: 16px 32px;
      flex-wrap: wrap;
    }
  }
}
