@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.container {
  padding: 24px 40px 24px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-weight: 900;
    font-size: 20px;
    color: var(--text-color);
  }

  nav {
    display: flex;
    gap: 0 20px;

    a {
      color: var(--text-color);
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      &:hover {
        color: #147efb;
      }
    }
  }

  @include responsive-with-header();

  @media (max-width: $mobile) {
    flex-direction: column;

    nav {
      justify-content: space-between;
      a {
        font-size: 16px;
      }
    }
  }
}
